html
  head
    title Grid Option
    link(href='styles/main.css', rel='stylesheet', type='text/css')
  body
    h1 Hello, World
    div(id="map")
    script(type="text/javascript").
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjb99dMQ5-oANotK_e6shzV8BEquVbh-0&callback=initMap", async=true, defer=true)
