html
  head
    title Grid Option
    link(href='static/normalize.min.css', rel='stylesheet', type='text/css')
    link(href='styles/main.css', rel='stylesheet', type='text/css')
  body
    div(id="topbar")
      h2
        = future ? 'Future predictions ' : 'Current data '
        = 'for Bakersfield, CA'
      a(href=(future ? '/' : '/future'), class="switch")
        = future ? 'Show current data' : 'Show future predictions'
    div(id="map-container")
      div(id="map")
    script(src="/dist/bundle.js")
    script(type="text/javascript").
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjb99dMQ5-oANotK_e6shzV8BEquVbh-0&callback=initMap", async=true, defer=true)
