html
  head
    title Grid Option
    link(href='styles/main.css', rel='stylesheet', type='text/css')
  body
    h1 Hello, World
    div(id="map")
    script(src="/dist/bundle.js")
    script(type="text/javascript").
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjb99dMQ5-oANotK_e6shzV8BEquVbh-0&callback=initMap", async=true, defer=true)
